<section id="main-header">
    <h1>Welcome To Dev Quizzes</h1>
    <p>Boost your development skills! Click on the courses to start taking exciting quizzes and challenge yourself today.</p>
</section>

<%- contentFor('styles') %>
<link rel="stylesheet" href="/stylesheets/home/index.css">

<%- contentFor('title') %>
Home