<section>
    <ul>
        <% quizzes.forEach(quiz => { %>
            <li><a href="<%=`quizzes/${quiz._id}/start`%>"><%= quiz.title %></a></li>
        <%});%>
    </ul>
</section>

<%- contentFor('title') %>
Quizzes