<section class="quiz-cards-container">
    <div class="quiz-cards">
        <% quizzes.forEach(quiz=> { %>
            <div class="quiz-card">
                <div>
                    <p><%= quiz.title %></p>
                </div>
                <div>
                    <a href="<%= `/quizzes/${quiz._id}/start` %>" id="start-quiz-link">
                        Start
                    </a>
                </div>
            </div>
        <%});%>
    </div>
</section>

<link rel="stylesheet" href="/stylesheets/quizzes/index.css">

<%- contentFor('title') %>
    Quizzes