#flash-error {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecc8c5;
    color: #af2221;
    width: 300px;
    padding: 1em 0 1em 1em;
    border-radius: .5em;
    margin-top: 1em;
}

#close-icon {
    align-self: flex-start;
    margin: 0;
    margin-right: 1em;
}

#close-icon:hover {
    cursor: pointer;
}