nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: rgb(39, 37, 37);
    color: white;
    padding: 1.5em 0;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 2em;
    gap: 2em;
}

.nav-right a {
    color:white;
}

.nav-right a:visited {
    color:white;
}

#username-span {
    display: inline-block;
    padding: 0.5em;
    border-radius: 5em;
    background-color: #fff;
    color: #000;
}

#username-span a {
    color: #000;
}